@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}

/* color variables */
:root {
  --bg-dark: #272727;
  --bg-light: #ebcdc3;
  --text-dark: #141414;
  --text-light: #eaeaea;
  --primary: #d1b2a7;
  --secondary: #94776d;
}

/* styles */
body {
  background: var(--bg-dark);
}

.s-light {
  background: var(--bg-light);
}

/* header */
header {
  position: fixed;
  width: 100%;
  height: 60px;
}

.h-container {
  max-width: 90%;
  margin: 1rem auto;
}

.h-container img {
  width: 30px;
  cursor: pointer;
  opacity: 0.8;
}

/* main styles */
.m-section {
  color: var(--text-light);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.m-container {
  width: 90%;
}

.m-titleContainer .m-title {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1;
}

.m-titleContainer .m-subtitle {
  width: 240px;
  color: var(--primary);
  opacity: 0.6;
  font-weight: 400;
  font-size: 1.2rem;
}

.m-btn {
  font-size: 1.1rem;
  border: 2px solid var(--primary);
  border-radius: 50px;
  opacity: 0.4;
  padding: 0.4rem 1.6rem;
  position: absolute;
  bottom: 2rem;
}

/* about me */
.am-section {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.am-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  max-width: 90%;
  width: 100%;
}

.am-titleContainer {
  line-height: 1;
}

.am-titleContainer .am-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.am-titleContainer .am-subtitle {
  font-family: "Merriweather";
  font-size: 1.1rem;
  color: var(--secondary);
  font-weight: 700;
}

.am-paragraph {
  opacity: 0.6;
  line-height: 1.5;
  width: 75%;
  margin-top: 1.5rem;
}

.am-c-container {
  margin-top: 3rem;
  line-height: 0.8;
}

.am-c-titleContainer .am-c-title {
  font-family: "Merriweather";
  font-size: 1.8rem;
  opacity: 0.6;
}

.am-c-paragraph {
  opacity: 0.2;
  margin-left: 2px;
}

.am-c-socialContainer {
  display: flex;
  gap: 14px;
  margin-top: 1rem;
}

.am-c-socialCard {
  width: 30px;
  height: 30px;
  opacity: 0.4;
  border-radius: 5px;
}

.am-c-socialCard img {
  width: 100%;
  height: 100%;
}

/* projects */
.p-section {
  color: var(--text-light);
  display: flex;
  justify-content: center;
}

.p-container {
  max-width: 90%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p-titleContainer {
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.p-titleContainer .p-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.p-titleContainer .p-subtitle {
  color: var(--primary);
  font-family: "Merriweather";
  font-size: 1.1rem;
  font-weight: 700;
}

.p-card {
  background: var(--primary);
  border-radius: 5px;
  color: var(--text-dark);
}

.p-card .p-cardTitle {
  font-size: 1.4rem;
  padding: 0.5rem 0.8rem;
}

.p-card .p-cardImg {
  width: 100%;
  object-fit: contain;
}

.p-card .p-cardDescription {
  padding: 0.5rem 0.8rem;
}

.p-card .p-cardDescription .p-cardSubtitle {
  color: var(--secondary);
  font-family: "Merriweather";
  font-size: 1.2rem;
}

.p-card .p-cardDescription .p-cardParagraph {
  opacity: 0.6;
  font-size: 0.9rem;
}

.p-card .p-cardLinksContainer {
  padding: 0.5rem 0.8rem;
  display: flex;
  gap: 16px;
  padding-bottom: 1rem;
}

.p-card .p-cardLinksContainer .p-githubLink img {
  width: 22px;
  margin-left: -6px;
}

.p-card .p-cardLinksContainer .p-githubLink {
  color: var(--text-light);
  background: var(--bg-dark);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  display: flex;
  width: fit-content;
  gap: 8px;
  align-items: center;
}

.p-card .p-cardLinksContainer .p-pageLink {
  color: var(--secondary);
  border: 3px solid var(--secondary);
  border-radius: 50px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  font-weight: 700;
}

/* skills */
.s-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-container {
  max-width: 90%;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.s-titleContainer {
  line-height: 1;
}

.s-titleContainer .s-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.s-titleContainer .s-subtitle {
  font-family: "Merriweather";
  font-size: 1.1rem;
  color: var(--secondary);
  font-weight: 700;
}

.s-cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
}

.s-card {
  max-width: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-cardContainer .s-card img {
  background: var(--bg-dark);
  opacity: 0.4;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.s-cardContainer .s-card p {
  opacity: 0.6;
}

/* footer */
footer {
  background: #000;
}
