/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* Universal box-sizing and margin/padding reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove link underline */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Color variables */
:root {
  --primary-color: #313c4d;
  --secundary-color: #0e1319;
  --background-color: #0d1117;
  --bg-color-secundary: #141a21;

  --text-color: #fafafa;
}

.roboto-mono {
  font-family: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.subtitle {
  font-weight: 400;
  font-size: 32px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

section {
  overflow: hidden;
}

button {
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--text-color);
}

a img {
  vertical-align: middle;
}

/* 
>>>>>>>>>>
Header
<<<<<<<<<<
*/
#header-section {
  height: 70px;
  padding: 0 2rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(40px);
}

#header-section p {
  font-size: 24px;
  font-weight: 500;
}

.h-contact-container {
  display: flex;
  gap: 14px;
}

.h-contact-container img {
  height: 40px;
}

/*
>>>>>>>>>>
Main
<<<<<<<<<<
*/
.oval {
  position: absolute;
  z-index: -1;

  filter: blur(50px);

  background-color: var(--primary-color);
  border-radius: 100%;
  opacity: 0.5;
}

#oval0 {
  left: 0;
  top: -60px;
  opacity: 0.6;

  filter: blur(80px);

  height: 100px;
  width: 100%;
}

#oval1 {
  transform: rotate(130deg);

  left: 22%;
  top: 35%;

  height: 100px;
  width: 600px;
}

#oval2 {
  transform: rotate(45deg);

  right: 12%;
  bottom: 25%;

  height: 100px;
  width: 1000px;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
}

.m-title-container {
  max-width: 900px;
}

.m-title-container h1 {
  font-size: 64px;
  letter-spacing: -1px;
  line-height: 80px;
}

.m-title-container p {
  font-size: 24px;
  font-weight: 300;

  opacity: 0.4;
}

/*
>>>>>>>>>>
My experience
<<<<<<<<<<
*/
#my-experience-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.me-container {
  z-index: 1;
  position: relative;
  overflow: hidden;

  width: 50%;
  min-width: 400px;
  padding: 1.5rem 2rem;

  background: linear-gradient(
    180deg,
    rgba(14, 19, 25, 0.2) 0%,
    rgba(14, 19, 25, 1) 100%
  );

  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.me-e-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.odd-project {
  flex-direction: row-reverse;
}

.odd-project .me-e-information {
  margin-left: 0;
  margin-right: 2rem;
}

.me-e-c-img {
  min-width: 350px;
  height: 350px;

  object-fit: cover;
  border-radius: 10px;
  border: 0.5px rgba(255, 255, 255, 0.2) solid;
}

.project-title {
  font-size: 20px;
  font-weight: 500;
}

.me-e-information {
  margin-left: 2rem;
}

.me-e-information div {
  margin-bottom: 2rem;
}

.me-e-i-text p {
  opacity: 0.6;
  font-weight: 200;
}

.me-e-t-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.me-e-t-images img {
  width: 42px;
  height: 42px;
}

.me-e-i-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.me-e-i-links a {
  width: 140px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  border-radius: 1000px;
  font-size: 18px;
  font-weight: 200;
}

#no-projects {
  margin: 2rem 0;
  opacity: 0.6;
  font-weight: 400;
}

#gh-link {
  background: #000;
}

#gh-link img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

#more-link {
  border: 1px var(--primary-color) solid;
  justify-content: center;
  transition: all 200ms ease-in-out;
}

#more-link:hover {
  background-color: #313c4d30;
}

#me-e-btn-more {
  font-size: 16px;
  padding: 0.6rem 1rem;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 1400px) {
  .me-e-container {
    flex-direction: column;
  }

  .me-e-information {
    margin-top: 1rem;
    margin-left: 0;
  }
}

/*
>>>>>>>>>>
About me
<<<<<<<<<<
*/
#about-me-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 6rem 0;
  margin-top: -3rem;
  border-top: 0.5px rgba(255, 255, 255, 0.1) solid;
  border-bottom: 0.5px rgba(255, 255, 255, 0.1) solid;

  background-color: var(--bg-color-secundary);
}

.am-container {
  min-width: 400px;
  max-width: 65%;
}

.am-container h2 {
  margin: 2rem 0;
}

.am-container p {
  font-weight: 300;
  font-size: 20px;

  color: #72767a;
}

.highlight-text-1 {
  font-weight: 400;

  color: var(--text-color);
  opacity: 0.8;
}

.highlight-text-2 {
  color: var(--text-color);
  opacity: 0.6;
}

.am-contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin: auto;
  margin-top: 4rem;

  max-width: 95%;
  height: 500px;
  gap: 20px;
}

.am-c {
  position: relative;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  outline: 0.5px rgba(255, 255, 255, 0.2) solid;

  background-repeat: no-repeat;
  background-size: cover;

  transition: all 200ms ease-in-out;
}

.am-c:hover {
  scale: 1.01;
}

.am-c::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #313c4d40;
  z-index: 1;
}

.am-c p {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 500;
  z-index: 2;
}

#am-c-linkedIn {
  grid-column: 1;
  grid-row: 1 / 3;
  background-image: url("./assets/img/linkedin.png");
}

#am-c-gitHub {
  grid-column: 2;
  grid-row: 1;
  background-image: url("./assets/img/github.png");
  background-position: center;
}

#am-c-cv {
  grid-column: 2;
  grid-row: 2;
  background-image: url("./assets/img/cv.png");
}

/*
>>>>>>>>>>
Skills
<<<<<<<<<
*/
.am-skills-container {
  margin-top: 4rem;
}

.am-skills-container h2 {
  margin-bottom: 1rem;
}

.am-s-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.am-s-container img {
  width: 82px;
}

/*
>>>>>>>>>>
Footer
<<<<<<<<<<
*/
#footer {
  background-color: #000;
}
