#back {
  font-size: 2rem;
  opacity: .5;
  font-weight: 800;
}

#project-content {
  min-height: 100svh;
  max-width: 800px;
  margin: 4rem auto;
}

#p-description {
  opacity: .6;
}

.p-title-container #p-title {
  font-weight: 500;
  font-size: 40px;
}

.p-steps-container {
  margin: 3rem 0;
}

.p-steps-container ul li {
  margin-top: 1rem;
}

.p-s-list-title {
  font-weight: 500;
}

.p-s-list-text {
  opacity: .4;
}